<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.lyf.chromebitwardeninline" android:versionCode="1" android:versionName="0.2.0">
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="36" />
    <application android:label="Chrome Bitwarden Inline" android:allowBackup="false" android:hasCode="true" />
</manifest>
